.route-content-conatiner{
    overflow-y: scroll;
    width: 80%;
}

.route-icon-bar-container{
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 26%;
}

.light-icon-bar-bg{
    background-color: #ebebeb;
}

.dark-icon-bar-bg{ 
    background-color: #0f0f0f;
}

.route-icon-conatiner{
    width: 100%;
    display: flex;
    align-items: center;
}

.route-icon{
    margin-right: 30px;
    width: 90px;
    height: 90px;
    padding: 26px;
    border-radius: 48px;
    color: #ff0000;
}

.light-route-icon-bg{
    background-color: #d7dfe9;
}

.dark-route-icon-bg{
    background-color: #000000;
}

.route-icon-heading{
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 40px;
}

.light-route-icon-heading{
    color: #231f20;
}

.dark-route-icon-heading{
    color: #ffffff;
}

.trending-videos-conatiner{
    padding-left: 100px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.light-trending-videos-bg{
    background-color: #f9f9f9;
}

.dark-trending-videos-bg{
    background-color: #000000;
}
