.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.light-theme{
    background-color: #f9f9f9;
}

.dark-theme{
    background-color: #212121;
}

.login-container{
    padding: 30px;
    box-shadow: 0 0 10px 0;
    border-radius: 15px;
    height: 65%;
    display: flex;
    flex-direction: column;
}

.light-login-container{
    background-color: #f8fafc;
}

.dark-login-container{
    background-color: #000000;
}


.logo{
    width: 70%;
    align-self: center;
    margin-bottom: 50px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input{
    width: 80%;
}

.label{
    font-weight: bold;
    font-size: smaller;
    font-family: "Roboto";
}

.light-label{
    color: #475569;
}

.dark-label{
    color: #f1f5f9;
}

.password-container{
    margin-bottom: 8px;
}

.checkbox{
    margin-left: -0.4px;
}

.show{
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto";
    margin-left: 8 px;
}

.light-show{
    color: #1e293b;
}

.dark-show{
    color: #f1f5f9;
}

.button{
    width: 80%;
    background-color:  #3b82f6;
    border-radius: 5px;
    border-width: 0px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 15px;
    font-family: "Roboto";
    cursor: pointer;
    margin-top: 10px;
}

.error-msg{
    color: red;
    font-weight: 500;
    font-size: smaller;
    font-family: "Roboto";
}