.video-details-container{
    overflow-y: scroll;
    padding: 30px;
    width: 78%;
}

.light-video-details-bg{
    background-color: #ebebeb;
}

.dark-video-details-bg{
    background-color: #000000;
}

.responsive-container{
    width: 100%;
}

.video-detail-heading{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 23px;
}

.video-detail-views-likes-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.video-detail-likes-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-action-container{
    width: 33%;
    text-align: center;
    border-width: 0px;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: #64748b;
}

.active-like{
    color: #2563eb;
}

.active-dislike{
    color: #2563eb;
}

.active-save{
    color: #64748b;
}

.active-saved{
    color: #2563eb;
}

.like-action-icon{
    color: inherit;
    width: 20px;
    height: 20px;
}

.save-action-icon {
    width: 20px;
    height: 20px;
}

.save-action-text {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
}

.like-action-text{
    color: inherit;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    margin-left: 5px;
}

.horizontal-ruler{
    height: 2px;
    margin-bottom: 30px;
}

.light-ruler{
     background-color:#212121 ;
}

.dark-ruler{
    background-color:#f1f5f9 ;
}

.video-detail-channel-name{
    margin-top: 0px;
    color: #212121;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 23px;
}

.video-detail-channel-subscribers{
    color: #616e7c; 
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
}

.video-detail-channel-description{
    color: #475569;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 17px;
}

.light-text{
    color: #212121;
}

.dark-text{
    color: #f1f5f9;
}